[data-flex-splitter-horizontal],
[data-flex-splitter-vertical] {
  display: flex;
  height: 100%;
  flex: auto;
}
[data-flex-splitter-horizontal] > *,
[data-flex-splitter-vertical] > * {
  flex: none;
  overflow: auto;
  box-sizing: border-box;
}
[data-flex-splitter-horizontal] > [role="separator"],
[data-flex-splitter-vertical] > [role="separator"] {
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  background-color: rgba(160,160,160,0.15);
  z-index: 100;
}
[data-flex-splitter-horizontal] > [role="separator"]:hover,
[data-flex-splitter-vertical] > [role="separator"]:hover {
  background-color: rgba(160,160,160,0.45);
}
[data-flex-splitter-horizontal] > [role="separator"]::before,
[data-flex-splitter-vertical] > [role="separator"]::before {
  content: "";
  box-sizing: border-box;
  border: 4px rgba(160,160,160,0.8);
}
[data-flex-splitter-horizontal] > [role="separator"] {
  cursor: ew-resize;
  width: 4px;
}
[data-flex-splitter-horizontal] > [role="separator"]::before {
  width: 8px;
  margin: -2px;
  height: 24px;
  border-style: double;
}
[data-flex-splitter-vertical] {
  flex-direction: column;
}
[data-flex-splitter-vertical] > [role="separator"] {
  cursor: ns-resize;
  height: 4px;
}
[data-flex-splitter-vertical] > [role="separator"]::before {
  width: 24px;
  height: 8px;
  margin: -2px;
  border-style: double;
}
[pane] {
  flex: auto;
}